<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pashamao</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="~/css/MainHomeLayout.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm sidebar">
        <div class="container">
            <ul class="navbar-nav  flex-column ">
                <li class=""> @Html.ActionLink("首頁", "Index", "MainHome", new { area = "" }, new { @class = "nav-link" })</li>
                <li>
                    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#userSubMenu" aria-expanded="false" aria-controls="userSubMenu">
                        ➤ 後台使用者管理
                    </a>
                    <ul id="userSubMenu" class="collapse">
                        <li>@Html.ActionLink("使用者管理", "Index", "MainUser", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("角色管理", "Index", "UserRole", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#memberSubMenu" aria-expanded="false" aria-controls="memberSubMenu">
                        ➤ 會員管理
                    </a>
                    <ul id="memberSubMenu" class="collapse">
                        <li>@Html.ActionLink("會員管理", "Index", "MainMember", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("會員地址管理", "Index", "MemberAddress", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="position-absolute top-0 end-0 pe-3 d-print-inline ">
        <span class="me-1 mt-2 userName"></span>
        <button type="button" id="btnPersonalData" class="btn btn-outline-primary rounded-pill">Edit</button>
        <button type="button" id="btnLogOut" class="btn btn-outline-primary rounded-pill" onclick="window.location.href = `/MainHome/Logout`">登出</button>
        <div id="boxPersonalData" class="container border border-4">
            <button id="btnClose" class="btn btn-light mt-1 ">&times;</button>
            <div class=" mt-1 d-md-flex justify-content-md-end">
                <span class="col-3">名稱：</span>
                <span id="boxPersonalName" class="userName col-5 " contenteditable="false" pattern="^{,10}$"></span>
                <button id="btnEditName" class="btn btn-dark col-4 " onclick='editName()'>改名</button>
            </div>
            <div class="mt-2 d-md-flex justify-content-md-end">
                <span class="col-8">密碼：******</span>
                <button class="btn btn-dark col-4 " onclick='location.href="/MainUser/EditUserPwd"'>改密碼</button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pashamao</p>
        </footer>
    </div>

    <script>
        //設定使用者名稱
        const cookieName = getCookie("cookieName");
        const userName = document.getElementsByClassName("userName");

        for (var i = 0; i < userName.length; i++) {
            userName[i].innerHTML = cookieName;
        }

        function getCookie(name) {
            const nameEq = name + "=";
            const cookies = document.cookie.split(';');

            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim(); 

                if (cookie.indexOf(nameEq) === 0) {
                    return cookie.substring(nameEq.length, cookie.length);
                }
            }
        }
    </script>

    <script>
        //設定彈出視窗
        var boxPersonalData = document.getElementById("boxPersonalData");
        var btnPersonalData = document.getElementById("btnPersonalData");
        var btnClose = document.getElementById("btnClose");

        btnPersonalData.onclick = function () {
            boxPersonalData.style.display = "block";
        }
        btnClose.onclick = function () { boxPersonalData.style.display = "none"; }

        //設定編輯改名按鈕的事件
        function editName() {
            var boxName = document.getElementById('boxPersonalName');

            if (boxName.contentEditable === "false") {
                boxName.contentEditable = "true";  // 使 span 可編輯
                boxName.style.borderStyle = "solid";
                document.getElementById("btnEditName").textContent = "儲存";
            }
            else {
                boxName.contentEditable = "false"; // 使 span 恢復為不可編輯
                boxName.style.borderStyle = "none";
                document.getElementById("btnEditName").textContent = "改名";
            }
        }

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
